.Category{
    width: 88%;
    height: auto;
    min-height: 66vh;
    max-height: 66vh;
    position: absolute;
    top: 200px;
    display: flex;
    gap: var(--padding);
    flex-wrap: wrap;
    justify-content: center;
    overflow-y: auto;
}

.Category::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.Category {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}